{% extends 'analy/list_view_base.html' %}

{% block title %} analy_other_list {% endblock %}

{% block content %}{% load staticfiles %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Other User</p>
                <form action="{% url 'analy:another_user' %}" method="post">{% csrf_token %}
                    <input type="text" name="search_word"/>
                    <input type="submit" value="Search"/>
                </form>
                {% if my_list %}
                {% for usr in my_list %}
                <h2><a href="{{ usr.get_absolute_url }}">{{ usr }}</a></h2>
                {% endfor %}
                {% elif search_term %}
                <b><i>Not Found! Search Word: {{ search_term }}</i></b>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
