{% extends 'analy/list_view_base.html' %}

{% block title %} another_user_list.html {% endblock %}

{% block content %}{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1> {{ object }}</h1>
        </div>
    </div>
    <div class="row">

        <div class="panel panel-primary">
                    <div class="panel-heading">
                        MAP
                    </div>
                    <div class="panel-body">
                        <div id="my_map" class="my_map"></div>
                    </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                        Other User
            </div>
            <div class="panel-body">
                 <div class="row">
                     <div class="col-lg-12">
                            <h1 class="">Other Picture</h1>
                     </div>
                 </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="../../static/analy/vendor/img/b.jpg" >
                    </a>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Before</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                     </ul>
                </nav>
             </div>
        </div>
    </div>


</div>
{% endblock %}