{% extends 'base.html' %}

{% block title %}index.html{% endblock %}

{% block content %}
{% load staticfiles %}


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our project!</div>
                <div class="intro-heading">Let's Go</div>
                <div class="col-md-10 text-center ">
                    <!-- Input Form -->
                    <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                        <!-- col-lg-10 -->
                        <div class="col-lg-10">
                            <!-- text area -->
                            <div class="form-group text-center">
                                <input type="text" class="form-control" name="user" placeholder="nick name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <!-- end text area -->

                            <!-- file area -->
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip;  <input type="file" name="image" hidden data-input="false" data-badge="false" style="display: none;" multiple/>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                            <!-- end file area -->

                        </div>
                        <!-- end col-lg-10 -->

                        <div class="col-lg-2">
                            <input type="submit" class="page-scroll btn btn-xl" value="analysis!" onclick="$('#tyle-loader').show();"/>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </header>
    <!-- end Header -->

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Services of our Project</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Time Stamp</h4>
                    <p class="text-muted">Check the exif information by inspecting the header file in the JPGpicture..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Google Map API</h4>
                    <p class="text-muted">
Use Google Maps api to get and display the coordinates on the map.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">EXIF</h4>
                    <p class="text-muted">we provide EXIF information of Manufacturer, Model, Date Time, ISO Speed, Color Space, Latitude, Longitude, Direction of Rotation, Focus Length and Flash
</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->

    <!-- About Section -->


    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Members of Team Let's Be</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/inhan.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>최인한</h4>
                        <p class="text-muted">Department of Computer Engineering</p>
                        <p class="text-muted">2013244022</p>
                        <ul class="list-inline social-buttons">
                            
                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/taehwan.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>이태환</h4>
                        <p class="text-muted">Department of Computer Engineering</p>
                        <p class="text-muted">2013244072</p>
                        <ul class="list-inline social-buttons">
                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/sangwook.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>안상욱</h4>
                        <p class="text-muted">Department of Computer Engineering</p>
                        <p class="text-muted">2015244011</p>
                        <ul class="list-inline social-buttons">
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Department of Computer Engineering, OpensourceProject</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    

    <!-- another user Section -->

{% endblock %}